@use '../abstracts/mixins' as *;

.c-fieldset {
  margin-bottom: 50px;
  padding: 0;
  border: none;

  &__legend {
    width: 100%;
    border-bottom: 2px solid var(--color-border-legend);
  }

  &__list-item {
    padding-bottom: 25px;

    & + .c-fieldset__list-item {
      padding-top: 25px;
      border-top: 1px solid var(--color-border-separator);
    }
  }
}

.c-required {
  display: block;
  margin: 10px 0 50px;

  &__indicator {
    position: relative;
    top: 0.2rem;
    margin-right: 0.3rem;
    color: var(--color-form-required);
  }
}
