@use '../abstracts/mixins' as *;

.l-form {
  &__errors {
    color: var(--color-message-error);
  }
}

.c-fieldset {
  border: none;
  margin-bottom: 50px;
  padding: 0;

  &__legend {
    border-bottom: 2px solid var(--color-border-legend);
    width: 100%;
  }

  &__list-item {
    padding-bottom: 25px;

    & + .c-fieldset__list-item {
      border-top: 1px solid var(--color-border-separator);
      padding-top: 25px;
    }
  }
}

.c-required {
  display: block;
  margin: 10px 0 50px;

  &__indicator {
    color: var(--color-form-required);
    margin-right: 0.3rem;
    position: relative;
    top: 0.2rem;
  }
}
