@use '../abstracts/mixins' as *;

.c-form {
  margin: auto;

  &__errors {
    margin-top: 45px;
  }

  @include breakpoint-at-least(600px) {
    max-width: 600px;
    width: 75%;
  }
}

.c-fieldset {
  margin-bottom: 50px;
  padding: 0;
  border: none;

  &__legend {
    width: 100%;
    border-bottom: 2px solid var(--color-border-legend);
  }
}

.c-required {
  display: block;
  margin: 10px 0 50px;

  &__indicator {
    position: relative;
    top: 0.2rem;
    margin-right: 0.3rem;
    color: var(--color-form-required);
  }
}
