@use '../abstracts' as *;

/*
 * 1) Prevents input element from overflowing off screen when text zoom is
 * enabled in a browser and the viewport width is too small. Also prevents the
 * input from growing too large as the viewport width increases.
*/

%field-properties {
  display: block;
  width: min(100%, 400px); // 1
  padding: 0.4rem;
  background-color: var(--color-bg-input);
  color: var(--text-primary);
  border: 2px solid var(--color-border-input);

  &:focus {
    border: 2px solid var(--color-border-input-focus);
  }
}

.c-input {
  margin-bottom: 1.5rem;

  &__field {
    @extend %field-properties;
  }

  &__error {
    width: min(100%, 400px); // 1
    margin-top: 5px;
  }

  &__instructions {
    display: block;
    width: min(100%, 400px); // 1
    margin-top: 10px;
  }
}

.c-date-range {
  margin: 1.5rem 0;
  &__container {
    width: min(10rem, 300px); // 1
    margin: 1.5rem 0;
  }

  &__field {
    @extend %field-properties;
    transition: opacity 200ms linear;

    &::-webkit-calendar-picker-indicator {
      margin-left: 0;
      filter: var(--color-date-input-icon);
    }
  }
}

.c-textarea {
  &__field {
    @extend %field-properties;
  }

  & + .c-input {
    margin-top: 1.5rem;
  }
}

input[aria-disabled='true'] {
  opacity: $disabled;
}
