@use '../abstracts' as *;

%field-properties {
  display: block;
  width: min(100%, 400px);
  padding: 0.4rem;
  background-color: var(--color-bg-input);
  color: var(--text-primary);
  border: 2px solid var(--color-border-input);

  &:focus {
    border: 2px solid var(--color-border-input-focus);
  }
}

.c-input {
  margin-bottom: 1.5rem;

  &__field {
    @extend %field-properties;
  }
}

.c-date-range {
  margin: 1.5rem 0;
  &__container {
    width: min(10rem, 300px);
    margin: 1.5rem 0;
  }

  &__field {
    @extend %field-properties;
    transition: opacity 200ms linear;

    &::-webkit-calendar-picker-indicator {
      margin-left: 0;
      filter: var(--color-date-input-icon);
    }
  }
}

.c-textarea {
  &__field {
    @extend %field-properties;
  }

  & + .c-input {
    margin-top: 1.5rem;
  }
}

input[aria-disabled='true'] {
  opacity: $disabled;
}
