@use '../abstracts/variables' as *;

.c-preview {
  margin-bottom: 40px;

  &__list-item {
    padding-bottom: 25px;

    &:last-child {
      padding-bottom: 0;
    }
  }
}

.c-personal-contact {
  --base-size: 1.1rem;
  font-size: var(--base-size);

  &__icon {
    height: var(--base-size);
    width: var(--base-size);
    margin-right: 0.75rem;
    opacity: $low-emphasis;
  }
}
