.c-switch {
  --base-size: 1rem;

  border: 1px solid var(--color-border-primary);

  &--theme {
    display: flex;
    align-items: center;
    width: 3.5rem;
    padding: 5px;
    background-color: var(--color-bg-base);
    border-radius: 25px;

    &[aria-checked='false'] {
      justify-content: flex-start;
    }

    &[aria-checked='true'] {
      justify-content: flex-end;
    }
  }

  // Size modifiers
  &__icon--base {
    height: var(--base-size);
    width: var(--base-size);
  }

  &__icon--medium {
    height: calc(var(--base-size) * 1.25);
    width: calc(var(--base-size) * 1.25);
  }

  &__icon--large {
    height: calc(var(--base-size) * 1.5);
    width: calc(var(--base-size) * 1.5);
  }
}
