@use '../abstracts/' as *;

/* light primary: 500 tonal range */
/* light primary-variant: +/- 200 of primary */
/* light secondary: 500 tonal range */
/* light secondary-variant: +/- 200 of primary */

$light: (
  color-bg-base: color($neutral, 75),
  color-bg-accessibility-bar: color($neutral, 100),
  color-bg-header: color($neutral, 100),
  color-text-primary: color($neutral, 850),
  color-text-inverted: color($neutral, 75),
  color-text-msg-error: color($neutral, 50),
  color-text-msg-warning: color($neutral, 800),
  color-text-msg-success: color($neutral, 900),
  color-text-msg-info: color($neutral, 900),
  color-link-visited: rgb(116, 0, 194),
  color-link-unvisited: rgb(20, 20, 255),
  color-message-error: rgb(128, 0, 0),
  color-message-warning: rgb(255, 236, 61),
  color-message-success: rgb(76, 175, 80),
  color-message-info: rgb(71, 167, 245),
  color-border-primary: color($neutral, 900),
  color-border-input: color($neutral, 900, 0.6),
  color-focus-outline-primary: color($neutral, 900, 0.6),
);
