@use '../abstracts/mixins' as *;

.l-button-container {
  display: flex;
  flex-direction: column;
  margin: 10px auto;

  & button {
    margin-bottom: 25px;
  }

  @include breakpoint-at-least(small) {
    flex-direction: row;

    & button {
      margin-bottom: 0;
    }
  }
}
