@use '../abstracts/mixins' as *;

.l-flex-row {
  flex-direction: row;
}

.l-flex-row-reverse {
  flex-direction: row-reverse;
}

.l-flex-column {
  flex-direction: column;
}

.l-flex-column-reverse {
  flex-direction: column-reverse;
}
