@use '../abstracts/' as *;

.c-date-range {
  @include breakpoint-at-least(small) {
    display: grid;
    column-gap: 25px;
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr 1fr;

    &__container:first-child {
      grid-column: 1 / 2;
    }

    &__container:nth-child(2) {
      grid-column: 2 / 3;
    }

    & > .c-checkbox {
      grid-row: 2 / 3;
      grid-column: 2 / 3;
      align-self: flex-start;
    }
  }
}
