@use '../abstracts/variables' as *;

body {
  font-family: $base-fonts;
  letter-spacing: 0.08rem;
}

.c-app-logo {
  font-size: 3rem;
}

.c-checkbox {
  font-size: 1.125rem;
}

.c-input {
  &__label {
    font-size: 0.95rem;
  }

  &__field {
    font-family: $base-fonts;
    font-size: 1.1rem;
    letter-spacing: 0.08rem;
  }
}

.c-date-range {
  &__label {
    font-size: 0.95rem;
  }

  &__field {
    font-size: 1.125rem;
  }
}

.c-textarea {
  &__label {
    font-size: 0.95rem;
  }

  &__field {
    font-family: $base-fonts;
    font-size: 1.1rem;
    letter-spacing: 0.08rem;
    line-height: 1.5;
  }
}

input[type='date'] {
  font-family: $base-fonts;
}

.c-required-indicator {
  font-size: 1.25rem;
  font-weight: bold;
  line-height: 1rem;
}

.l-preview-container {
  font-family: 'Times New Roman', Times, serif;
}

.c-personal-main {
  &__name {
    font-size: 3rem;
  }
}

.c-personal-contact {
  font-size: 1.1rem;
  font-style: normal;
  text-decoration: none;
}

.c-item {
  &__secondary-heading {
    font-size: 1.1rem;
  }
}
