$base-family: 'Roboto', Verdana, Geneva, Tahoma, sans-serif;

body {
  font-family: $base-family;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.c-app-logo {
  font-size: 3rem;
}

.c-checkbox {
  font-size: 1.125rem;
}

.c-input {
  &__label {
    font-size: 0.9rem;
  }

  &__field {
    font-size: 1rem;
  }
}

.c-date-range {
  &__label {
    font-size: 0.9rem;
  }

  &__field {
    font-size: 1rem;
  }
}

.required-indicator {
  font-size: 1.25rem;
  font-weight: bold;
  line-height: 1rem;
}

input[type='date'] {
  font-family: $base-family;
}
