body {
  font-family: 'Roboto', Verdana, Geneva, Tahoma, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.c-app-logo {
  font-size: 3rem;
}

.c-checkbox {
  &__label {
    font-size: 1rem;
  }
}

.c-input {
  &__label {
    font-size: 1rem;
  }

  &__field {
    font-size: 1rem;
  }
}

.required-indicator {
  font-size: 1.25rem;
  font-weight: bold;
}
